<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Section | Josaa Analysis</title>
    <link href="css/about.css" rel="stylesheet">   
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

  <%- include ('navbar'); -%>


    <div class="about-section">
        <h1>About Us</h1>
    </div>
    <div class="para">
        <p>
            Welcome to our website, your destination for simplified and insightful information about higher education admissions in IITs. We understand that navigating through the vast amount of data available on official websites can be overwhelming, which is why we have created a user-friendly platform to extract and present crucial information from the Joint Seat Allocation Authority (JoSAA) official website.

            At our website, we aim to provide you with a comprehensive overview of the Opening and Closing Rank Trends, helping you make informed decisions and find the best possible options for your educational journey. We have carefully curated and organized the data from JoSAA to make it easier to analyze, saving you valuable time and effort.
            Here's what you can expect:
        </p> 
        <p>
            <h3>Streamlined Information:</h3>We have extracted and condensed the essential information from the JoSAA official website, eliminating unnecessary complexities and presenting it in a clear and concise manner.
        </p>   
        <p>
            <h3>Searching and Filtering:</h3>Our website provides a powerful search and filtering system that allows you to customize your search based on your preferences. You can filter by college, branch, category and gender, ensuring that you find the options that best match your needs.
        </p>
        <p>
            <h3>How to Use it</h3><br>
            <h5>OR-CR Trend :</h5>The trend line chart for Opening and Closing Ranks provides valuable information for individuals participating in the IIT admission process. By analyzing this chart, prospective students can observe the historical trends of the Opening and Closing Ranks for their desired branch over the past 7 years. This information allows them to understand the competitiveness and admission criteria for their preferred branch, aiding in making informed decisions regarding their IIT admission strategy.<br><br>
            <h5>College Suggestion:</h5>Students can utilize this feature by selecting their desired rank, category, and gender in the provided dropdown menus. Upon submission, the system will fetch and display a table with relevant data, including opening and closing ranks, institutes, years, and rounds. This empowers students to make informed decisions about college admissions based on their preferences and eligibility.<br><br>
            <h5>Branch Suggestion:</h5>Branchwise section, a valuable feature that enables students to explore their chances of securing admission to their desired branch. By selecting their branch of interest and specifying their rank, category, and gender, students can instantly check if there are available seats in their preferred branch. This feature empowers students with crucial insights to make informed decisions and pursue their academic aspirations.
        </p>         
    </div>
    <div class="source">
        <h2>
            Every information shown on this website has been directly taken from <a href="https://josaa.nic.in/">official website of Josaa</a>.
        </h2>
    </div>


    <!-- team member section -->

    <section class="team-member-section p-3 mb-2">
    
            <h3 class="section-heading text-center fw-lighter mb-5"> 
            <i class="fa-solid fa-people-group"></i>
            Team Members 
            <i class="fa-solid fa-laptop-code"></i></h3>

            <div class="container">
                <div class="row gap-md-0 gap-lg-0 gap-2">
                    <div class="col-12 col-lg-3 col-md-6 d-flex justify-content-center mb-md-2">
                        <div class="card" style="width: 17rem;">
                            <img src="images/hari.JPG" class="card-img-top p-4 team-member-photo" alt="Hari">
                            <div class="card-body">
                              <p class="card-text text-center mb-2 fw-bolder">Haribhajan Kushwaha</p>
                              <div class="container text-center d-flex gap-4 justify-content-center team-member-contact">
                               <a href="https://www.linkedin.com/in/haribhajank/" target="_blank"><i class="fa-brands fa-linkedin"></i></a> 
                               <a href="https://www.instagram.com/hari__1729/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6 d-flex justify-content-center mb-md-2">
                        <div class="card" style="width: 17rem;">
                            <img src="images/subham.jpg" class="card-img-top p-4 team-member-photo" alt="subham">
                            <div class="card-body">
                              <p class="card-text text-center mb-2 fw-bolder">Subham kumar</p>
                              <div class="container text-center d-flex gap-4 justify-content-center team-member-contact">
                                <a href="https://www.linkedin.com/in/subham-kumar-48b385227/" target="_blank"><i class="fa-brands fa-linkedin"></i></a> 
                                <a href="https://www.instagram.com/subham__kum/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                               </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6 d-flex justify-content-center">
                        <div class="card" style="width: 17rem;">
                            <img src="images/adarsh.JPG" class="card-img-top p-4 team-member-photo" alt="adarsh">
                            <div class="card-body">
                              <p class="card-text text-center mb-2 fw-bolder">adarsh sharma</p>
                              <div class="container text-center d-flex gap-4 justify-content-center team-member-contact">
                                <a href="https://www.linkedin.com/in/therealadarsh/" target="_blank"><i class="fa-brands fa-linkedin"></i></a> 
                                <a href="https://www.instagram.com/userdeadsincelong/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                               </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6 d-flex justify-content-center">
                        <div class="card" style="width: 17rem;">
                            <img src="images/vishvjeet.jpeg" class="card-img-top p-4 team-member-photo" alt="vishvjeet">
                            <div class="card-body">
                              <p class="card-text text-center mb-2 fw-bolder">vishvjeet prajapati</p>
                              <div class="container text-center d-flex gap-4 justify-content-center team-member-contact">
                                <a href="https://www.linkedin.com/in/vishvjeet-prajapati-1272b9242/" target="_blank"><i class="fa-brands fa-linkedin"></i></a> 
                                <a href="https://www.instagram.com/im_vishvjeet/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                               </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
    </section>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
  crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a16eebca31.js" crossorigin="anonymous"></script>
